.header__link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-decoration: none;
    color: #fff;
    display: block;
    height: 20px;
    cursor: pointer;
}


.header__link:hover {
    opacity: 0.6;
    transition: 0.2s ease-in-out;
}