.login__signin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 358px;
    color: #FFF;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    margin-top: 15px;
}