@import url(./__form-input/login__form-input.css);
@import url(./__welcome/login__welcome.css);
@import url(./__form/login__form.css);
@import url(./__button-container/login__button-container.css);
@import url(./__button/login__button.css);
@import url(./__login-link/login__login-link.css);
@import url(./__question-signup/login__question-signup.css);
@import url(./__signin-container/login__signin-container.css);

.login {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    width: 358px;
    margin: auto;
}
