.profile__button-avatar-edit {
    position: relative;
    border-radius: 60px;
    border: none;
    background: url(../../../images/profile__avatar_edit_pen.svg) no-repeat center;
    background-color: rgba(255, 255, 255, 0);
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    opacity: 0;
    z-index: 20;
}

.profile__button-avatar-edit:hover {
    transition: 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, .8);
    opacity: 1;
}