.header__signout-button {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    padding: 0;
    border: none;
    background: #000;
    color: #A9A9A9;
    cursor: pointer;
    height: 22px;
}

.header__signout-button:hover {
    opacity: 0.6;
    transition: 0.2s ease-in-out;
}